@font-face {
    font-family: "iconfont";
    src: url(../font/iconfont.eot?t=1501662423104);
    /* IE9*/
    src: url(../font/iconfont.eot?t=1501662423104#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(../font/iconfont.woff?t=1501662423104) format('woff'), /* chrome, firefox */
    url(../font/iconfont.ttf?t=1501662423104) format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url(../font/iconfont.svg?t=1501662423104#iconfont) format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-kernel:before {
    content: "\ea14";
}

.icon-aggregates:before {
    content: "\ea15";
}

.icon-alarmmonitor:before {
    content: "\ea16";
}

.icon-auditor:before {
    content: "\ea17";
}

.icon-changeorder:before {
    content: "\ea18";
}

.icon-clusterhealthstatus:before {
    content: "\ea19";
}

.icon-delete:before {
    content: "\ea1a";
}

.icon-devicelogs:before {
    content: "\ea1b";
}

.icon-disable:before {
    content: "\ea1c";
}

.icon-enable:before {
    content: "\ea1d";
}

.icon-encryptionandsecurity:before {
    content: "\ea1e";
}

.icon-firewalls:before {
    content: "\ea1f";
}

.icon-flavors:before {
    content: "\ea20";
}

.icon-floatingips:before {
    content: "\ea21";
}

.icon-hiddenpassword:before {
    content: "\ea22";
}

.icon-highavailable:before {
    content: "\ea23";
}

.icon-hypervisorsmonitor:before {
    content: "\ea24";
}

.icon-images:before {
    content: "\ea25";
}

.icon-info:before {
    content: "\ea26";
}

.icon-information:before {
    content: "\ea27";
}

.icon-securityalarm:before {
    content: "\ea28";
}

.icon-keypairs:before {
    content: "\ea29";
}

.icon-loadbalancers:before {
    content: "\ea2a";
}

.icon-logreport:before {
    content: "\ea2b";
}

.icon-manager:before {
    content: "\ea2d";
}

.icon-memory:before {
    content: "\ea2e";
}

.icon-networktopology:before {
    content: "\ea2f";
}

.icon-networks:before {
    content: "\ea30";
}

.icon-overviewmonitor:before {
    content: "\ea31";
}

.icon-password:before {
    content: "\ea32";
}

.icon-periodbackup:before {
    content: "\ea33";
}

.icon-pincode:before {
    content: "\ea34";
}

.icon-plus:before {
    content: "\ea35";
}

.icon-poweroff:before {
    content: "\ea36";
}

.icon-projects:before {
    content: "\ea37";
}

.icon-reboot:before {
    content: "\ea38";
}

.icon-restart:before {
    content: "\ea39";
}

.icon-routers:before {
    content: "\ea3a";
}

.icon-safer:before {
    content: "\ea3b";
}

.icon-securitygroups:before {
    content: "\ea3c";
}

.icon-servermonitor:before {
    content: "\ea3d";
}

.icon-settings:before {
    content: "\ea3e";
}

.icon-showpassword:before {
    content: "\ea3f";
}

.icon-start:before {
    content: "\ea40";
}

.icon-storage:before {
    content: "\ea41";
}

.icon-storagesize:before {
    content: "\ea42";
}

.icon-subnets:before {
    content: "\ea43";
}

.icon-systemlogs:before {
    content: "\ea44";
}

.icon-users:before {
    content: "\ea45";
}

.icon-volumes:before {
    content: "\ea46";
}

.icon-vpn:before {
    content: "\ea47";
}

.icon-warning:before {
    content: "\ea48";
}

.icon-admin:before {
    content: "\ea49";
}

.icon-backup:before {
    content: "\ea4a";
}

.icon-bangding:before {
    content: "\ea4b";
}

.icon-bohui:before {
    content: "\ea4c";
}

.icon-chongqi:before {
    content: "\ea4d";
}

.icon-dingdan:before {
    content: "\ea4e";
}

.icon-gailan:before {
    content: "\ea4f";
}

.icon-gaojing:before {
    content: "\ea50";
}

.icon-jhchenggong:before {
    content: "\ea51";
}

.icon-jhshibai:before {
    content: "\ea52";
}

.icon-kuaizhao:before {
    content: "\ea54";
}

.icon-ruanchongqi:before {
    content: "\ea55";
}

.icon-shujuzhongxin:before {
    content: "\ea56";
}

.icon-xuniyingpan:before {
    content: "\ea58";
}

.icon-zongliang:before {
    content: "\ea5a";
}

.icon-kongzhitai:before {
    content: "\ea5b";
}

.icon-xuniips:before {
    content: "\ea5d";
}

.icon-ziyuanfenpei:before {
    content: "\ea5e";
}

.icon-cunchushebei:before {
    content: "\ea5f";
}

.icon-dingdanguanli:before {
    content: "\ea61";
}

.icon-jiaoseguanli:before {
    content: "\ea62";
}

.icon-peieguanli:before {
    content: "\ea63";
}

.icon-qianyijihua:before {
    content: "\ea64";
}

.icon-qianyishenqing:before {
    content: "\ea65";
}

.icon-wangluoshebei:before {
    content: "\ea66";
}

.icon-xuniips1:before {
    content: "\ea67";
}

.icon-xunivpn:before {
    content: "\ea68";
}

.icon-xuniwaf:before {
    content: "\ea69";
}

.icon-xunifangbingduxitong:before {
    content: "\ea6a";
}

.icon-xuniji:before {
    content: "\ea6b";
}

.icon-xuniyingpan1:before {
    content: "\ea6c";
}

.icon-yewuliebiao:before {
    content: "\ea6e";
}

.icon-yewuziyuantuopu:before {
    content: "\ea6f";
}

.icon-yunfanghuoqiang:before {
    content: "\ea71";
}

.icon-zuzhiguanli:before {
    content: "\ea72";
}